<footer class="custom-footer">
  <div class="container">

    {% if page.layout != "landing_page" %}
    <div style="display:flex; justify-content:center; margin-bottom: 50px;">
      <div style="background:white; border-radius:1rem; padding:1.5rem 3rem; max-width: 400px; width:100%; color:#333;">
        <h2 style="text-align:center; font-size: 2rem; margin-top:0; margin-bottom: 1rem;"> The preCICE newsletter </h2>
        {% include newsletter.html %}
      </div>
    </div>
    {% endif %}

    <div class="custom-footer-grid">
      <div>
        <h5>Quick Links</h5>
        <ul class="custom-footer-links">
          <li><a href="fundamentals-literature-guide.html">Cite preCICE</a></li>
          <li><a href="community-contribute-to-precice.html">Contribute</a></li>
          <li><a href="community-support-precice.html">Get support</a></li>
          <li><a href="community-training.html">Get training</a></li>
        </ul>
      </div>
      <div>
        <h5>Community</h5>
        <ul class="custom-footer-links">
          <li><a href="https://precice.discourse.group">Forum on Discourse</a></li>
          <li><a href="https://github.com/precice">preCICE on GitHub</a></li>
          <li><a href="fundamentals-license.html">License</a></li>
          <li><a href="about.html">Impressum / Legal</a></li>
        </ul>
      </div>
      <div class="footer-col-right">
        <div style="margin-bottom: 1rem;">
          <a rel="license" href="https://creativecommons.org/licenses/by/4.0/"
            style="color: white; text-decoration: none;">
            <i class="fa-brands fa-creative-commons" style="font-size: 1.875rem;"></i>
            <i class="fa-brands fa-creative-commons-by" style="font-size: 1.875rem;"></i>
          </a>
        </div>
        <p class="footer-info-text">Page last updated: {{page.last_modified_at | date: "%b %-d, %Y" }}</p>
        <p class="footer-info-text">Site last updated: {{ site.time | date: "%b %-d, %Y" }}</p>
        <div class="footer-info-text footer-flex-center">
          <i class="fa-solid fa-shield"></i> This website does not use cookies
        </div>
      </div>
    </div>
  </div>
</footer>